APP_NAME="Inventory Laravel"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://inventory.localhost
APP_TIMEZONE=Asia/Jakarta

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_URL=postgresql://neondb_owner:npg_PrjWlGFb1M0m@ep-royal-wind-aosk8h8i-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_HOST=ep-royal-wind-aosk8h8i-pooler.c-2.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_PrjWlGFb1M0m
DB_SSLMODE=require
DB_CHANNEL_BINDING=require

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file

MAIL_MAILER=log
MAIL_FROM_ADDRESS="inventory@example.com"
MAIL_FROM_NAME="${APP_NAME}"

RUN_MIGRATIONS=true
LOW_STOCK_NOTIFICATION=true
INVENTORY_SERVICE=pencatatan
VITE_APP_NAME="${APP_NAME}"

CLOUDINARY_CLOUD_NAME=duw5tmqh9
CLOUDINARY_API_KEY=467249429529774
CLOUDINARY_API_SECRET=hpU7jrsqO9woIes8ZJ175J6osBw