APP_NAME="Inventory Laravel"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://inventory.localhost
APP_TIMEZONE=Asia/Jakarta

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_URL=postgresql://your_user:your_password@your-neon-host.neon.tech/your_database?sslmode=require&channel_binding=require
DB_HOST=your-neon-host.neon.tech
DB_PORT=5432
DB_DATABASE=your_database
DB_USERNAME=your_user
DB_PASSWORD=your_password
DB_SSLMODE=require
DB_CHANNEL_BINDING=require

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file

MAIL_MAILER=log
MAIL_FROM_ADDRESS="inventory@example.com"
MAIL_FROM_NAME="${APP_NAME}"

RUN_MIGRATIONS=true
LOW_STOCK_NOTIFICATION=true
INVENTORY_SERVICE=pencatatan
VITE_APP_NAME="${APP_NAME}"
